html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

/* 设置输入框大小 */
.form input[type="number"] {
  width: 200px;
}

.result{
  color: white;
  padding: 3px;
}
